// Color
.blue {
    color: $blue;
}

.blue-dark {
    color: $blue-dark;
}

.grey {
    color: $grey;
}

.grey-dark {
    color: $grey-dark;
}

.grey-light {
    color: $grey-light;
}

.black {
    color: $black;
}

.white {
    color: $white;
}

.purple {
    color: $purple;
}

// Background
.bg-white {
    background: $bg-white;
}

.bg-light {
    background: $bg-light;
}

.bg-blue {
    background: $blue;
}

.bg-blue-dark {
    background: $blue-dark;
}

.bg-grey {
    background: $grey;
}

.bg-grey-light {
    background: $grey-light;
}

.bg-purple {
    background: $purple;
}
