@mixin border-radius($radius) {
	border-radius: $radius;
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
}

@mixin transition($property, $duration, $easing: linear) {
	transition: $property $duration $easing;
	-webkit-transition: $property $duration $easing;
	-moz-transition: $property $duration $easing;
}

@mixin align-items($align) {
    -webkit-box-align: $align;
    -ms-flex-align: $align;
    align-items: $align;
}

@mixin box-shadow($left, $top, $radius, $color) {
	box-shadow: $left $top $radius $color;
	-webkit-box-shadow: $left $top $radius $color;
	-moz-box-shadow: $left $top $radius $color;
}

@mixin google-font($font) {
	font: unquote($font);
	@import url(https://fonts.googleapis.com/css?family=#{$font});
}

@mixin small-screens {
	@media only screen and (max-width: 480px) {
		@content;
	}
}
