@media (max-width: $screen-lg) {
    .message-column {
        .message-content {
            width: auto;
        }
    }
}

@media (max-width: $screen-sm) {
    body {
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        transition: 300ms ease all;
        &.show_menu {
            transform: translate3d(270px, 0, 0);
            transition: 300ms ease all;
            overflow: hidden;
        }
    }
    /*
    * Sidebar
    */
    .sidebar {
        // display: none;
        left: -270px;
        transition: 300ms ease all;
        &.s_visible {
            display: block;
            width: 270px;
            background: $white;
            z-index: 100;
            transition: 300ms ease all;
        }
    }

    .ff-overlay {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: transparent;
        transition: background 300ms ease;
        z-index: 10;
        visibility: hidden;
        &.ff_visible {
            visibility: visible;
            background: rgba(0,0,0,.5);
            transition: background 300ms ease;
        }
    }

    /*
    * Main
    */
    .main-container {
        margin-left: 0;
        // padding: 15px;
    }

    .main {
        padding-top: 0;
    }

    .heading-container {
        padding: 14px 15px;
        background: $white;
    }

    .heading-bar-left {
        @include align-items(center);
    }

    .heading {
        line-height: inherit;
        margin-left: 16px;
    }

    .button-bar {
        button {
            display: none;
        }
        &.expand {
            #toggle-setting {
                position: relative;
            }
            .setting-button-wrap {
                position: absolute;
                top: 50px;
                right: 16px;
            }
            button {
                display: block;
                margin-bottom: 2px;
                margin-right: 0;
            }
        }
    }

    #toggle-menu {
        display: block;
        cursor: pointer;
        img {
            width: 24px;
            height: 24px;
        }
    }

    #toggle-setting {
        display: block;
        cursor: pointer;
    }

    #content {
        padding: 0 15px;
    }

    .section {
        margin-top: 20px;
    }

    .highlight-list {
        margin-top: 16px;
    }

    .highlight-column {
        li {
            width: auto;
            margin-right: 0;
            height: 112px;
        }
    }

    .message-column {
        .message-item {
            padding: 20px 0;
            display: block;
        }
        .message-icon {
            width: 30px;
            height: 30px;
            font-size: 12px;
            margin-top: 6px;
        }
        .message-content {
            width: fit-content;
            margin-left: 14px;
            .message-description {
                height: 43px;
                overflow: hidden;
                line-height: 1.3;
            }
        }
        .message-action {
            display: none;
        }
        
        .column-left {
            align-items: normal;
        }
        .column-right {
            margin-left: 44px;
            margin-top: 8px;
        }
    }

    // Slide
    .dot {
        cursor: pointer;
        height: 8px;
        width: 8px;
        margin: 0 7px;
        background-color: $grey;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        &:hover, &.active {
            background: $blue;
        }
    }

    .dot-container {
        padding-bottom: 14px;
    }
}